{% load static %}
{% block content %}
<!doctype html>
<html>
  <head>
    <title>map</title>

  </head>
  <style>
    #map {
        height: 100%;
      }
      
      /* 
       * Optional: Makes the sample page fill the window. 
       */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <body>
    <div id="map"></div>

   

    {% for fibre in fibres %}
                    
    <script>

      async function  initMap() {
            let map = await new google.maps.Map(document.getElementById("map"), {
              zoom: 5.9,
              center: { lat: 21, lng: -8},
            });
            
               
                     map.data.loadGeoJson(
                       "{{fibre.trajet.url}}"
                       );
      
           
          }
          
          window.initMap = initMap;</script>
          {% endfor %}
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzewP7_2ZoOx7OaMeg5U9RcGI3LNUBB8c&callback=initMap&v=weekly"
      defer
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </body>
</html>
{% endblock %}