<!-- templates/inventaire_fo/proprietaire_detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Détails d'opérateur</h2>
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <td><strong>Nom d'opérateur :</strong></td>
          <td>{{ proprietaire.nom }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-group mt-3" role="group" aria-label="Actions">
    <!-- Button to trigger modal -->
    <button type="button" class="btn btn-primary btn-space" id="openModal">Modifier</button>
    <a href="{% url 'proprietaire_delete' proprietaire.pk %}" class="btn btn-danger btn-space">Supprimer</a>
    <a href="{% url 'proprietaire_list' %}" class="btn btn-secondary btn-space">Retour à la liste des opérateurs</a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier l'opérateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalBody">
          <!-- Form content will be loaded here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="saveChanges">Enregistrer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#openModal').click(function() {
        var url = "{% url 'proprietaire_edit' proprietaire.pk %}";
        $('#modalBody').load(url + ' form');
        $('#exampleModal').modal('show');
      });

      $('#saveChanges').click(function() {
        // Soumettre le formulaire lors du clic sur le bouton "Enregistrer"
        $('#modalBody form').submit();
        // Fermer le modal après l'enregistrement
        $('#exampleModal').modal('hide');
      });
    });
  </script>
{% endblock %}
